<ion-app>
  <ion-menu menuId="main-menu" side="end" contentId="content">
    <ion-list>
      <ion-item>MENU 1</ion-item>
      <ion-item>MENU 1</ion-item>
      <ion-item>MENU 1</ion-item>
    </ion-list>
  </ion-menu>
  <ion-menu menuId="notifications-menu" side="end" contentId="content">
    <ion-list>
      <ion-item>MENU 2</ion-item>
      <ion-item>MENU 2</ion-item>
      <ion-item>MENU 2</ion-item>
    </ion-list>
  </ion-menu>
  <ion-menu menuId="more-tab-menu" side="end" contentId="content">
    <ion-list>
      <ion-item>MENU 3</ion-item>
      <ion-item>MENU 3</ion-item>
      <ion-item>MENU 3</ion-item>
    </ion-list>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
